@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap'); 

:root{
    --primaria: #F9720B;
    --secundaria: #FCC609;
    --terciaria: #A82A50;
    --quaternaria: #BC793B;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.terciaria{
    color: var(--terciaria);
    font-weight: bold;
}

.terciaria2{
    color: var(--terciaria);
    font-weight: bold;
}

.terciaria2:hover{
    color: black;
    font-weight: bold;
}

.preto{
    color: black;
    font-weight: 600;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/*header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primaria);
    gap: 20rem;
    /*width: 100%;
    top: 0rem;
    position: fixed;*/
}

header img{
    width: 8rem;
    height: 5rem;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Lacquer;
    flex-wrap: nowrap;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
}


/*section sobre*/
.englobar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: justify;
    width: 40rem;

}

.div1{
    margin-top: 3rem;
    flex-wrap: wrap;
}


.div2{
    margin-top: 5rem;
    background-color: var(--primaria);
    border-radius: 8px;
    height: 9.8rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

/*section murais*/
.todo{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.quadrado{
    display: flex;
    justify-content: center;
    background-color: var(--secundaria);
    width: 40rem;
    padding-top: 1rem;
    border-radius: 8px;
}

.ilustracao p{
    width: 19rem;
    font-weight: 600;
    font-size: medium;
    margin-left: 1.7rem;
}

#murais img{
    width: 19rem;
    height: 17rem;
    margin-right: 1rem;
    margin-left: 1rem;
    
}

.texto{
    width: 17rem;
    text-align: justify;
}


.quadrado-laranja{
    display: flex;
    justify-content: center;
    background-color: var(--primaria);
    width: 40rem;
    padding-top: 1rem;
    border-radius: 8px;
    gap: 1rem;
}

.ilustracao p{
    width: 19rem;
    font-weight: 700;
    font-size: small;
}

.texto2{
    width: 14rem;
    text-align: justify;
}

.texto3{
    width: 15rem;
    text-align: justify;
}

/*section artista*/
#artista{
    background-color: var(--primaria);
    margin-bottom: -5%;
    margin-top: 3%;
}

.meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

.final img{
    width: 40rem;
}

.infos{
    background-color: var(--quaternaria);
    color: #fff;
    width: 40rem;
    text-align: justify;
    
    padding: 1rem;
    
}

.branco{
    font-weight: 600;   
}

.secundaria{
    color: var(--secundaria);
    font-weight: 600;
}

.rodape {
    background-color: #333333;
    padding: 45px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    min-height: 250px;
  }
  
  .lista-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .lista-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .logos {
    text-align: right;
  }

  #logomambee{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: -110px;
    margin-top: 30px;
    justify-content: center;
  
  }

  #logoifpi{
    width: 140px;
    height: 140px;
    float: left;
    margin-left: -5px;
    margin-top: 10px;
    justify-content: center;
  }

  #textcenter{
    text-align: center;
    margin-top: 40px;
  }

 @media (max-width: 1000px) {
    header{
        flex-direction: column;
        gap: 0;
    }

    .englobar{
        width: 100%;
    }

    .quadrado{
        width: 100%;
    }

    .quadrado-laranja{
        width: 100%;
    }

    .final img{
        width: 100%;
    }

    .infos{
        width: 100%;
    }

    .todo{
        flex-direction: column;
    }

    .div1{
        margin-top: 0;
    }

    .div2{
        margin-top: 0;
    }

    .preto{
        font-size: x-large;
    }

    .ilustracao p{
        width: 100%;
        font-size: small;
    }

    .texto{
        width: 100%;
        font-size: small;
    }

    .texto2{
        width: 100%;
        font-size: small;
    }

    .texto3{
        width: 100%;
        font-size: small;
    }

    .meio{
        margin-bottom: 0;
    }

    #logomambee{
        width: 100px;
        height: 100px;
        float: left;
        margin-left: 0;
        margin-top: 30px;
    }

    #logoifpi{
        width: 140px;
        height: 140px;
        float: left;
        margin-left: 0;
        margin-top: 10px;
    }

    #textcenter{
        text-align: center;
        margin-top: 0;
    }
}

@media (max-height: 600px) {
    .rodape{
        margin-top: 0;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .rodape{
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    .rodape{
        margin-top: 0;
    }

    .preto{
        font-size: large;
    }

    .ilustracao p{
        width: 100%;
        font-size: small;
    }

    .texto{
        width: 100%;
        font-size: small;
    }

    .texto2{
        width: 100%;
        font-size: small;
    }
}

@media (max-width: 300px) {
    .rodape{
        margin-top: 0;
    }

    .preto{
        font-size: medium;
    }

    .ilustracao p{
        width: 100%;
        font-size: small;
    }

    .texto{
        width: 100%;
        font-size: small;
    }

    .texto2{
        width: 100%;
        font-size: small;
    }
}

@media (max-width: 200px) {
    .rodape{
        margin-top: 0;
    }
}
