@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap'); 

:root{
    --primaria: #F9720B;
    --secundaria: #FCC609;
    --terciaria: #A82A50;
    --quaternaria:#daa520;
}

body{
    font-family: 'Roboto', sans-serif;
}

.terciaria{
    color: var(--terciaria);
    font-weight: bold;
}

/*header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primaria);
    gap: 13rem;
}

header img{
    width: 6rem;
    height: 4rem;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Lacquer;
    flex-wrap: nowrap;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color: var(--terciaria);
}

main{
    display: flex;
    justify-content: center;
}

/*section sobre*/
#sobre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: justify;
    width: 40rem;
    
}

.div1{
    margin-top: 2rem;
    flex-wrap: wrap;
}


.div2{
    margin-top: 5rem;
    background-color: var(--primaria);
    border-radius: 8px;
    height: 9.8rem;
    padding: 0.5rem;
}

.englobar{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}